<div class="row justify-content-center banner">
  <div class="col-12 col-lg-8 d-flex flex-column flex-md-row justify-content-center align-items-center">
    <div class="photo-and-socials">
      <%= image_tag 'https://avatars.githubusercontent.com/u/94608018', alt: "profile photo", class: 'avatar' %>
    </div>

    <div class="personal-details ms-md-5 mt-4 mt-md-0">
      <h1 class="title-main">Raphael Barbosa</h1>
      <p class="lead text-muted text-wrap">Full-Stack Developer | Node, React, TypeScript, Rails</p>
      <!-- About Section -->
      <%= partial 'partials/about' %>
      <!-- Social Links Section -->
      <%= partial 'partials/social' %>
    </div>
  </div>
</div>
