<div class="container">
  <div class="row g-0 justify-content-center mt-3">
    <div class="col-12 col-lg-8 d-flex justify-content-end">
      <button id="lang-toggle" aria-label="Switch language"></button>
    </div>
  </div>
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
</div>
